.gd-progress-pt-choices{
    display: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.gd-progress-pt-choice:hover .choice-settings{
    display: inline;
}

.choice-settings{
    display: none;
}
.save-choice{
    color: #568c0a;
}
.save-choice:hover{
    color: #0cb900;
    cursor: pointer;
}
.delete-choice{
    color: #a00;
}
.delete-choice:hover{
    color: #f00;
    cursor: pointer;
}

.gd_metadata_editable:hover,
.gd_post_title_editable:hover{
    font-weight: bold;
}
.gd_metadata_editable, .gd_post_title_editable{
    cursor: pointer;
}
.gd_metadata_input input{
    min-width: 150px;
    min-height: 30px;
}
span.step-sorting-handle:before{
    right: 0;
    content: '\f142';
    font: normal 20px/1 'dashicons';
    speak: none;
    display: inline-block;
    top: 2px;
    position: absolute;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    color: #bbb;
}
span.step-sorting-handle:after{
    right: 0;
    content: '\f140';
    font: normal 20px/1 'dashicons';
    speak: none;
    display: inline-block;
    bottom: 2px;
    position: absolute;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    color: #bbb;
}
.step-sorting-handle{
    position: relative;
    border: 1px solid silver;
    cursor: move;
    padding-left: 0px;
    padding-right: 18px;
    padding-bottom: 22px;
    margin-left: 10px;
    background: #F2F2F2;
}
.wp-admin select{
    white-space: nowrap;
    max-width: 235px;
}
button.new-progress-pt-choice{
    margin-top: 2px !important;
}
.required-step span{
    cursor: pointer;
    display: none;
    color: red;
}
.required-step:hover span{
    display: inline;
}
#required-completed-steps{
    border: 1px solid black;
}
.progress-tracker-steps{
    margin-top: 30px;
    width: 100%;
    border: 1px solid silver;
}