.gd-progress-pt-choices{
    display: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.gd-progress-pt-choice:hover .choice-settings{
    display: inline;
}

.choice-settings{
    display: none;
}
.save-choice{
    color: #568c0a;
}
.save-choice:hover{
    color: #0cb900;
    cursor: pointer;
}
.delete-choice{
    color: #a00;
}
.delete-choice:hover{
    color: #f00;
    cursor: pointer;
}

.gd_metadata_editable:hover{
    font-weight: bold;
}
.gd_metadata_editable{
    cursor: pointer;
}
.gd_metadata_input input{
    min-width: 200px;
    min-height: 30px;
}