.gd-progress-pt-choices{
    display: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.gd-progress-pt-choice:hover .delete-choice{
    display: inline;
}

.delete-choice{
    display: none;
    color: #a00;
}

.delete-choice:hover{
    color: #f00;
    cursor: pointer;
}